<div class="jumbotron">
  <%= form_for @model_new_data, url: fetch_model_infos_create_path, method: :post do |f| %>
      <% (@model_new_data.class.column_names - %w(id serialized_options created_at updated_at)).each do |resource_field| %>
          <div class="form-group">
            <%= f.label resource_field %>
            <%= hidden_field_tag :model_class, @model_class %>
            <div class="form-group">
              <%= f.text_field resource_field %>
            </div>
          </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Save Changes</button>
  <% end %>
</div>