<% @data=@resource.find(@data) %>
<div class="jumbotron">
<%= form_for @data, url: fetch_model_infos_update_path(:model_class => @resource), method: :patch do |f| %>
    <% (@resource.column_names - %w(created_at updated_at)).each do |resource_field| %>
        <div class="form-group">
          <%= f.label resource_field %>
          <div class="form-group">
            <%= f.text_field resource_field %>
          </div>
        </div>
    <% end %>
    <button class="btn btn-primary" type="submit">Save Changes</button>
<% end %>
</div>