<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
      $(function () {
          $("#tabs").tabs();
      });
  </script>
</head>
<body>
<div id="tabs">
  <ul class="nav nav-pills">
    <% for model_name in @model_array %>
        <li><%= link_to model_name, fetch_model_infos_display_path(:@i => model_name) %></li>
    <% end %>
  </ul>
</div>
</body>
</html>

