<table class="table table-hover table-bordered">
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% @resource.column_names.each do |k| %>
      <tr>
        <th><%= k %></th>
        <% @resource.all.each do |y| %>
            <td>
              <%= y.send(k.to_sym) %>
            </td>
            <% break %>
        <% end %>
      </tr>
  <% end %>
  <tr>
    <th>Actions</th>
    <td>
      <%= link_to 'back', fetch_model_infos_index_path %>
    </td>
  </tr>
</table>