<h3>Update Your Model's Data</h3>
<div class="jumbotron">
  <%= form_for @models_data, url: model_update_path(:model_class => @resource, model_object_id: @models_data.id ), method: :patch do |f| %>
      <% (@resource.column_names - %w(serialized_options created_at updated_at)).each do |resource_field| %>
          <div class="form-group">
            <%= f.label resource_field %>
            <div class="form-group">
              <%= f.text_field resource_field %>
            </div>
          </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Save Changes</button>
  <% end %>
</div>