<h3>Add New Record in <%= @model_class %> </h3>

<%= render partial: 'model_info/shared/form', locals: {
                                                   model_class: @model_class,
                                                   model_data: @model_data,
                                                   url: model_create_path,
                                                   new: true
                                           }%>





