<% page=params['page']%>
<h3>View Your Data</h3>
<table class="table table-hover table-bordered">
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <% @model_class.column_names.each do |k| %>
      <tr>
        <th><%= k %></th>
        <td><%= @model_data.send(k) %></td>
      </tr>
  <% end %>
  <tr>
    <th>Actions</th>
    <td>
      <%= link_to 'back', :back %>
    </td>
  </tr>
</table>