<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'ModelInfo', root_path, class: 'navbar-brand'%>
    </div>
  </div>
</nav>
