<!DOCTYPE html>
<html>
<head>
  <title>ModelInfo</title>
  <%= stylesheet_link_tag    "model_info/application", media: "all" %>
  <%= javascript_include_tag "model_info/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
