<h3>Add New Record in <%= model_class %> </h3>

<div class='jumbotron'>
  <%= form_for model_data, url: url, method: :post, class: 'form' do |f| %>
      <%= render partial: 'model_info/shared/form', locals: {model_class: model_class, model_data: model_data, f: f} %>
      <%= f.submit 'Create Record', class: 'btn btn-primary' %>
  <% end %>
</div>

