<h3>Update Your Associated Data of <%= @associated_model_class %> </h3>
<%= render partial: 'model_info/shared/form',
           locals:
                   {
                           model_class: @associated_model_class,
                           model_data: @associated_model_data,
                           url: association_update_path(associated_model_object_id: @associated_model_data.id),
                   }
%>
