<h3>Update Your Model's Data</h3>
<div class="jumbotron">
  <%= form_for @single_associated_data, url: association_update_path(:model_class => @model_class,model_object_id: @model_object_id,associated_model: @associated_model,associated_model_class: @associated_model_class, data: @data), method: :patch do |f| %>
      <% (@single_associated_data.attribute_names - %w(id serialized_options created_at updated_at)).each do |associated_model_column| %>
          <div class="form-group">
            <%= f.label associated_model_column %>
            <div class="form-group">
              <%= f.text_field associated_model_column %>
            </div>
          </div>
      <% end %>
      <button class="btn btn-primary" type="submit">Save Changes</button>
  <% end %>
</div>